<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wby.server.base.system.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseCommonResult" type="com.wby.api.base.system.entity.SysRole">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="seq" property="seq"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
    </resultMap>

    <resultMap id="RoleVoCommonResult" type="com.wby.api.base.system.vo.RoleVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="seq" property="seq"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <collection property="permissions" ofType="com.wby.api.base.system.entity.SysResource">
            <result column="resourceId" property="id"/>
            <result column="resourceParentId" property="parentId"/>
            <result column="resourceName" property="name"/>
            <result column="resourceUrl" property="url"/>
            <result column="resourceDescription" property="description"/>
            <result column="resourceIcon" property="icon"/>
            <result column="resourceSeq" property="seq"/>
            <result column="resourceType" property="resourceType"/>
            <result column="resourceStatus" property="status"/>
            <result column="resourceCreateTime" property="createTime"/>
            <result column="resourceUpdateTime" property="updateTime"/>
            <result column="resourceCreateUser" property="createUser"/>
            <result column="resourceUpdateUser" property="updateUser"/>
        </collection>
    </resultMap>

    <!-- 多表分页信息查询 -->
    <select id="pageList" resultMap="BaseCommonResult">
        SELECT
        t.id,
        t.`name`,
        t.seq,
        t.description,
        t.`status`,
        t.create_time,
        t.update_time,
        t.create_user_id
        FROM
        t_sys_role t
        <where>
            <if test="ew.createUserId!=null">
                t.create_user_id = #{ew.createUserId}
            </if>
            <if test="ew.name!=null and ew.name!=''">
                t.name like concat('%',#{ew.name},'%')
            </if>
        </where>
        order by t.seq asc
    </select>

    <!-- 多表信息查询 -->
    <select id="selectSysRoleList" parameterType="map" resultMap="BaseCommonResult">
        SELECT
        t.id,
        t.`name`,
        t.seq,
        t.description,
        t.`status`,
        t.create_time,
        t.update_time,
        t.create_user_id
        FROM
        t_sys_role t
        <where>
            <if test="param.createUserId!=null">
                t.create_user_id = #{param.createUserId}
            </if>
            <if test="param.name!=null and param.name!=''">
                t.name like concat('%',#{param.name},'%')
            </if>
        </where>
        order by t.seq asc
    </select>

    <select id="selectByUserId" resultMap="RoleVoCommonResult" parameterType="java.lang.Long">
        SELECT
        t.id,
        t.`name`,
        t.seq,
        t.description,
        t.`status`,
        t.create_time,
        t.update_time,
        t.create_user_id,
        t3.id AS resourceId,
        t3. NAME AS resourceName,
        t3.parent_id AS resourceParentId,
        t3.icon AS resourceIcon,
        t3.url AS resourceUrl,
        t3.seq AS resourceSeq,
        t3.resource_type AS resourceType,
        t3.`status` AS resourceStatus
        FROM
            t_sys_role t
        LEFT JOIN t_sys_role_resource t2 ON t.id = t2.role_id
        LEFT JOIN t_sys_resource t3 ON t2.resource_id = t3.id
        LEFT JOIN t_sys_user_role t4 ON t.id = t4.role_id
        LEFT JOIN t_sys_user t5 ON t4.user_id = t5.id
        where t.`status`=0
        and t3.`status`=0
        and t5.id=#{userId}
    </select>

    <select id="selectByRoleId" resultMap="RoleVoCommonResult" parameterType="java.lang.Long">
        SELECT
        t.id,
        t.`name`,
        t.seq,
        t.description,
        t.`status`,
        t.create_time,
        t.update_time,
        t.create_user_id,
        t3.id AS resourceId,
        t3. NAME AS resourceName,
        t3.parent_id AS resourceParentId,
        t3.icon AS resourceIcon,
        t3.url AS resourceUrl,
        t3.seq AS resourceSeq,
        t3.resource_type AS resourceType,
        t3.`status` AS resourceStatus
        FROM
            t_sys_role t
        LEFT JOIN t_sys_role_resource t2 ON t.id = t2.role_id
        LEFT JOIN t_sys_resource t3 ON t2.resource_id = t3.id
        where t3.`status`=0
        and t.id=#{roleId}
    </select>

</mapper>