<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wby.server.notice.mapper.SysNoticeMapper">

    <resultMap id="noticeMap" type="com.wby.api.notice.entity.SysNotice">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="MSG_ABSTRACT" property="msgAbstract" jdbcType="VARCHAR"/>
        <result column="MSG_CONTENT" property="msgContent" jdbcType="VARCHAR"/>
        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="PRIORITY" property="priority" jdbcType="VARCHAR"/>
        <result column="MSG_CATEGORY" property="msgCategory" jdbcType="VARCHAR"/>
        <result column="MSG_TYPE" property="msgType" jdbcType="VARCHAR"/>
        <result column="SEND_STATUS" property="sendStatus" jdbcType="VARCHAR"/>
        <result column="SEND_TIME" property="sendTime" jdbcType="VARCHAR"/>
        <result column="CANCEL_TIME" property="cancelTime" jdbcType="VARCHAR"/>
        <result column="USER_IDS" property="userIds" jdbcType="VARCHAR"/>
        <result column="BUS_TYPE" property="busType" jdbcType="VARCHAR"/>
        <result column="BUS_ID" property="busId" jdbcType="VARCHAR"/>
        <result column="OPEN_TYPE" property="openType" jdbcType="VARCHAR"/>
        <result column="OPEN_PAGE" property="openPage" jdbcType="VARCHAR"/>
        <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="pageUnreadMsg" resultMap="noticeMap">
       select * from t_sys_notice
	   where send_status = '1'
	   and del_flag = '0'
	   and msg_category = #{msgCategory}
	   and id IN ( select notice_id from t_sys_notice_send where user_id = #{userId} and read_flag = '0')
	   order by create_time DESC
    </select>

</mapper>
