<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wby.server.notice.mapper.SysNoticeSendMapper">

    <resultMap id="noticeMap" type="com.wby.api.notice.entity.SysNotice">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="MSG_ABSTRACT" property="msgAbstract" jdbcType="VARCHAR"/>
        <result column="MSG_CONTENT" property="msgContent" jdbcType="VARCHAR"/>
        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="PRIORITY" property="priority" jdbcType="VARCHAR"/>
        <result column="MSG_CATEGORY" property="msgCategory" jdbcType="VARCHAR"/>
        <result column="MSG_TYPE" property="msgType" jdbcType="VARCHAR"/>
        <result column="SEND_STATUS" property="sendStatus" jdbcType="VARCHAR"/>
        <result column="SEND_TIME" property="sendTime" jdbcType="VARCHAR"/>
        <result column="CANCEL_TIME" property="cancelTime" jdbcType="VARCHAR"/>
        <result column="USER_IDS" property="userIds" jdbcType="VARCHAR"/>
        <result column="BUS_TYPE" property="busType" jdbcType="VARCHAR"/>
        <result column="BUS_ID" property="busId" jdbcType="VARCHAR"/>
        <result column="OPEN_TYPE" property="openType" jdbcType="VARCHAR"/>
        <result column="OPEN_PAGE" property="openPage" jdbcType="VARCHAR"/>
        <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR"/>
        <result column="notice_id" property="noticeId" jdbcType="BIGINT"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
        <result column="READ_FLAG" property="readFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
	   select s.notice_id from t_sys_notice_send s
	   where s.user_id = #{userId}
	</select>


    <select id="pageMyNoticeSend" resultMap="noticeMap">
        select
        sas.id,
        sas.notice_id,
        sas.user_id,
        sas.read_flag,
        sa.title as title,
        sa.msg_content as msg_content,
        sa.create_user as create_user,
        sa.priority as priority,
        sa.msg_category,
        sa.send_time as send_time,
        sa.bus_id as bus_id,
        sa.open_type as open_type,
        sa.open_page as open_page,
        sa.msg_abstract
        from t_sys_notice_send sas
        left join t_sys_notice sa ON sas.notice_id = sa.id
        where sa.send_status = '1'
        and sa.del_flag = '0'
        and sas.user_id = #{ew.userId}
        <if test="ew.title !=null and ew.title != ''">
            and sa.title LIKE concat(concat('%',#{ew.title}),'%')
        </if>
        <if test="ew.createUser !=null and ew.createUser != ''">
            and sa.create_user LIKE concat(concat('%',#{ew.createUser}),'%')
        </if>
        <if test="ew.readFlag !=null and ew.readFlag != ''">
            and sas.read_flag = #{ew.readFlag}
        </if>
        <if test="ew.busType !=null and ew.busType != ''">
            and sa.bus_type = #{ew.busType}
        </if>
        <if test="ew.msgCategory !=null and ew.msgCategory != ''">
            and sa.msg_category = #{ew.msgCategory}
        </if>
        order by sas.read_flag,sa.send_time desc
    </select>

</mapper>
