package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.wby.common.utils.JacksonUtil;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

#if(${hasBigDecimal})
#end

/**
 * @Description ${comments}
 * @Author ${author}
 * @Date  ${datetime}
 */
@ApiModel(value = "${comments}")
@TableName("${tableName}")
public class ${className} extends Model<${className}> {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if("$!column.comments" != "")
	/**
	 * $column.comments
	 */
#end
#if("$!column.comments" != "")
    @ApiModelProperty(value = "$column.comments")
#end
#if($column.columnName == $pk.columnName)
	@TableId
#elseif($column.columnName != $column.attrname)
	@TableField("$column.columnName")
#end
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)
#if("$!column.comments" != "")
	/**
	 * 设置：${column.comments}
	 */
#end
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
#if("$!column.comments" != "")
	/**
	 * 获取：${column.comments}
	 */
#end
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end

    @Override
	protected Serializable pkVal() {
		return this.${pk.attrname};
	}

	@Override
	public String toString() {
        return JacksonUtils.toJson(this);
	}
}
