-- 菜单SQL
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    VALUES ('1', '${comments}', '${moduleName}/${pathName}', 0, '1', 'config', '6');

-- 按钮父菜单ID
set @parentId = @@identity;

-- 菜单对应按钮SQL
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    SELECT @parentId, '列表', '${moduleName}/${pathName}/list',0, '2', '', '1';
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    SELECT @parentId, '新增', '${moduleName}/${pathName}/save',0, '2', '', '2';
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    SELECT @parentId, '修改', '${moduleName}/${pathName}/update',0, '2', '', '3';
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    SELECT @parentId, '删除', '${moduleName}/${pathName}/delete',0, '2', '', '4';
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    SELECT @parentId, '信息', '${moduleName}/${pathName}/info',0, '2', '', '5';
INSERT INTO `t_sys_resource` (`parent_id`, `name`, `url`, `status`, `resource_type`, `icon`, `seq`)
    SELECT @parentId, '选择', '${moduleName}/${pathName}/select',0, '2', '', '6';
