package ${package}.${moduleName}.service.impl;

import lombok.extern.slf4j.Slf4j;
import org.apache.dubbo.config.annotation.DubboService;
import org.springframework.transaction.annotation.Transactional;

import ${mainPath}.common.base.service.impl.BaseServiceImpl;
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.I${className}Service;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @Author ${author}
 * @Date  ${datetime}
 */
@Slf4j
@DubboService
@Transactional(rollbackFor = Exception.class)
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper, ${className}> implements I${className}Service {


}
