package ${package}.${moduleName}.service;

import ${mainPath}.common.base.service.IBaseService;
import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 *
 * @Author ${author}
 * @Date  ${datetime}
 */
public interface I${className}Service extends IBaseService<${className}> {


}

