package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.entity.${className};
import ${mainPath}.common.base.mapper.SuperMapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;
import java.util.Map;

/**
 * @Description ${comments}
 * @Author ${author}
 * @Date  ${datetime}
 */
public interface ${className}Mapper extends SuperMapper<${className}> {

	
}
